<!-- <h1 [ngStyle]="{
    color: car?.outOfStock ? 'white' : '',
    backgroundColor: car?.outOfStock ? 'red' : ''
}">BrandName: {{car?.brand}}</h1> -->
<!-- <h1 [class.outOfStock]="car?.outOfStock" >BrandName: {{car?.brand}}</h1> -->
<h1 [ngClass]="{
    outOfStock: car?.outOfStock,
    active: car?.outOfStock
}">BrandName: {{car?.brand}}</h1>
<p>Price: {{car?.price}}</p>
<p>Speed: {{speed}}</p>
<p>Started: {{started}}</p>
<p [style.color]="car?.color">Color: {{car?.color}}</p>
<p *ngIf="car?.outOfStock; else inStock">This car is out of stock. Please visit after sometime.</p>
<ng-template #inStock>
    <p>This product is in Stock</p>
</ng-template>

<div [ngSwitch]="car?.type">
    <p *ngSwitchCase="CarType.SUV">This car is an SUV</p>
    <p *ngSwitchCase="CarType.LEMO">This car is an LEMO</p>
    <p *ngSwitchCase="CarType.SPORTS">This car is an SPROTS</p>
    <p *ngSwitchDefault>Type Not Avaiable</p>
</div>

<button (click)="start()" [disabled]="car?.outOfStock">Start</button>
<button (click)="incSpeed()" [disabled]="car?.outOfStock">Accelerate</button>
<button (click)="decSpeed()" [disabled]="car?.outOfStock">Breaks</button>
<button (click)="stop()" [disabled]="car?.outOfStock">Stop</button>
