<div class="container">
    <h1>Cart ( {{ cartCount }} )</h1>

    <ol class="list-group list-group-numbered">
        <li *ngFor="let item of cartItems" class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{item.product.title}}</div>
            Price: {{ item.product.price }}
            Count: {{ item.count }}
          </div>
          <span class="badge bg-primary rounded-pill">{{ item.totalPrice }}</span>
        </li>
    </ol>

    <h4>TotalAmount: {{ cartTotal }}</h4>
</div>